* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 3px;
}

body{
  font-size: 1.5rem;
}

a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

a:link,
a:hover,
a:active{
    text-decoration: none;
}

header{
    height: 17vh;
}

header .main-title{
    /* height: 10rem; */
    height: 10vh;
    background-color: rgb(37, 178, 208);
}

header .main-title .title{
    height: 10vh;
    padding: 3vh;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 8rem;
    color: white;
}

header .main-title .menu-item{
    position: absolute;
    margin-left: 20px;
    width: 5vh;
    height: 5vh;
}

header .main-title .menu-item img{
    max-width: 5vh;
    max-height: 5vh;
    margin-top: 2.5vh;
    margin-left: 3vh;
    width: auto;
    height: auto;
}

header .header-option-list{
    /* height: 5rem; */
    height: 7vh;
    font-size: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.header-option-list {
  color: rgb(71, 187, 212);
}

header > ul > .menu-contents{
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    /* border: 1px solid white; */
}

header > ul > .menu-contents:hover{
  border-bottom: 0.6rem solid rgb(38, 161, 188);
  background-color: rgb(71, 187, 212);
  color: white;
}

.container > ul {
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container > ul > .content-list{
    list-style: none;
    display: flex;
    width: 100%;
    height: 24vh;
    justify-content: center;
    align-items: center;

    color: white;
    border-bottom: 1px solid white;
}

.content-list > a {
  width: 100%;
}

.content-list > a > div {
  width: 100%;
  height: 100%;
  background-color: rgba(58,58,58,0.4) ;
}

.content-list > a > div > dl {
  padding-top: 6vh;
}

.content-list > a > div > dl > dt {
  font-size: 10rem;
}

.content-list > a > div > dl > dd {
  width: 16vh;
  font-size: 5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0 auto;
}

#sightseeing {
  background: url("/img/index/sightsee.png") no-repeat;
  background-size: 100% 100%;
  background-position: left top;
}

#restaurant {
  background: url("/img/index/food.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: left top;
}

#stay {
  background: url("/img/index/stay.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: left top;
}

.menu-modal{
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  transition: 0.2s all;
}

.menu-modal-list{
    width: 65%;
    height: calc(100vh - 10rem) ;
    background-color: white;
    border-right: 1px solid black;
    list-style: none;
    border-top: 1px solid black;
    z-index: 4;
}

.menu-modal-list li{
  width: 100%;
  height: 7rem;
}

.menu-modal-list li a{
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid black;
}

footer {
  height: 11vh;
  background-color: rgb(58,58,58);
}

footer > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > ul > li {
  margin: 1vh;
  padding: 0.3vh;
}

footer > ul > li > a {
  width: 8vh;
  height: 8vh;
}

footer > ul > li > a > img {
  max-width: 8vh;
  max-height: 8vh;
}

/*setting btn, same code with upper code*/
footer > ul > li > a > button > img {
  max-width: 8vh;
  max-height: 8vh;
}

.active {
  border-bottom: 0.6rem solid rgb(38, 161, 188);
  background-color: rgb(71, 187, 212);
  color: white;
}

.google {
  display: none;
}

.goog-te-menu-value > span {
  
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal > dl {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/*Kihoon`s */
