* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
  font-size: 1.5rem;
}

a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

a:link{
    color: black;
}
a:hover{
    color: black;
}
a:active{
    color: black;
}

header{
    height: 15rem;
}

header .main-title{
    height: 10rem;
    background-color: ghostwhite;
}

header .main-title .title{
    text-align: center;
    font-size: 5rem;
}

header .main-title .menu-item{
    position: absolute;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

header .main-title .menu-item img{
    max-height: 30px;
    max-width: 30px;
    width: auto;
    height: auto;
}

header .header-option-list{
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
}

header ul .menu-contents{
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    border: 1px solid #e1e1e1;
}

.container{
  height: calc(100vh - 15rem) ;
}

.container ul{
    display: flex;
    flex-direction: column;
}

.container ul .content-list{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu-modal{
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  transition: 0.2s all;
}

.menu-modal-list{
    width: 65%;
    height: calc(100vh - 10rem) ;
    background-color: white;
    border-right: 1px solid black;
    list-style: none;
    border-top: 1px solid black;
    z-index: 4;
}

.menu-modal-list li{
  width: 100%;
  height: 7rem;
}

.menu-modal-list li a{
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid black;
}
