.map-container{
  display: flex;
  flex-flow: column;
  align-items: center;
}

div.container > .nav{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 30vh;
  height: 8vh;
  list-style: none;
  margin: 1.5rem;
  border: 1px solid #e9ecef;
}

div.container > .nav > li{
  width: 50%;
}

div.container > .nav > li.activeB {
  background-color: rgb(71, 187, 212);
  color: white;
}

div.container > .nav > li.activeB > a {
  color: white;
}

div.container > .nav > li > a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(71, 187, 212);
}

/* .active{
  background-color: rgba(0,0,0,0.1);
} */

#slidecontainer {
    width: 50vh;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3vh;
    border-radius: 3vh;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 3px solid rgb(71, 187, 212);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: rgb(71, 187, 212);
    border: 3px solid white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5vh;
    height: 5vh;
    border-radius: 30%;
    background: rgb(71, 187, 212);
    border: 3px solid white;
    cursor: pointer;
}
div.container > .content{
  width: 100%;
  height: 70%;
  margin-top: auto;
}

#slidecontainer p{
  display: flex;
  justify-content: center;
}

#map {
 height: 100%;
 width: 100%;
}

#list{
  height: 0px;
  width: 100%;
}

.btn-container {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e9ecef;
}

.btn-container > .btn-left {
  padding-left: 1.9vh;
}

.btn-container > .btn-right {
  padding-right: 1.9vh;
}

.btn-container > button > img {
  height: 5vh;
  background-color: white;
}

.item {
  width: 100%;
  height: 46vh;
  border-bottom: 2px solid #e9ecef;
}

.item > dl {
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
}

.item > dl > dt {
  width: 100%;
  height: 24vh;
  background-color: blue;
}

.item > dl > dt > img{
  width: 100%;
  height: 100%;
}

.item > dl > dd {
  height: 4vh;
  display: flex;
  justify-content: flex-start;
  font-size: 2.5vh;
  padding-left: 2vh;
}
.item > dl > dd > span {
  margin: 3px;
}
.item > dl > dd.name {
  padding-top: 1vh;
  margin-bottom: 3vh;
  font-size: 4vh;
}

.item > dl > dd > img {
  width: 4vh;
  height: 4vh;

}
