#map {
 height: 300px;
 width: 300px;
 float: left;
}

#list{
  height: 0px;
  width: 300px;
  background-color: blue;
  float: left;
}

div#list div.item{
  height: 100px;
  width: 300px;
  background-color: black;
}

.nav{
  height: 60px;
  width: 300px;
  margin: auto;
}
